* { box-sizing: border-box; }

div {
  border: thin solid black;
}

body {
    text-align:center;
    font-family: arial;
}

#header { padding: 1em; }
#menu {
  padding: 1em;
background-color:#1C1C1C;}

nav a {
  padding: 16.5px;
  border:  thin solid black;
  color: white;
  margin-left: 2%;
}

#container {
  padding: 40px;
  width: 100%;
  margin: 0px auto;
  text-align: left;
  background-color:
   #f2ffc9;

}

#content {
    width:100%;
    padding: 10px;
    float: left;
    background-color: #7dd991;


}

#footer {
  padding: 10px;
  clear: both;
  color: black;
}

#slimline {
color :red;
}

#inicio-page {
background-color: black;
    padding: 20px;

}

#objetivo-page {
    padding: 20px;

background-color: black;
}



#planificacion-page {
    padding: 10px;
    background-color: black;
}


#diagrama{
  padding: 10px;

}
