* { box-sizing: border-box; }

div {
  border: thin solid black;
}

body {
    text-align:center;
}

#header { padding: 1em;}
#menu { padding: 1em;}

#container {
  padding: 50px;
  width: 100%;
  margin: 0px auto;
  text-align: left;
  background-color: #f2ffc9;
}

#content {
    width:100%;
    padding: 50px;
    float: left;
    background-color: #7dd991;
    color: black;
}

#footer {
  padding: 1em;
  clear: both;
  color: black;
}

#slimline {
color :red;
}

#inicio-page {
background-color: black;
}

#objetivo-page {
background-color: grey;
}
